
@media screen and (max-width: 480px) {

    /* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    max-width: 80vw;
    margin: 0px auto;
}

    /* Header style */

header {
    background-color: rgba(0, 0, 255, 0.589);
    margin-bottom: 24px;
}

header .container {
    display: grid;
    grid-template-columns: 90% 5%;
    column-gap: 5%;
    padding: 2% 0px;
}

header .container h1 {
    font-family: sans-serif;
    font-style: italic;
    color: #fff;
    border-bottom: 1px solid #fff;
}

header .container .menu-hamburguer {
    width: 30px;
    position: relative;
}

header .container .menu-hamburguer span {
    width: 100%;
    height: 2px;
    display: block;
    background-color: #fff;
    margin: 6px;
}

header .container ul {
    display: none;
    padding-top: 12px;
}

header .container li {
    display: inline;
    margin-right: 18px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
}

header .container li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
}

    /* Sobre style */

    #sobre .container {
        display: grid;
        grid-template-columns: 100%;
        row-gap: 12px;
    }

    #sobre .container img {
        height: 100%;
        width: 100%;
    }

    #sobre .texto h2 {
        font-style: italic;
        padding: 6px 0px;
        color: rgba(0, 0, 255, 0.589);
        border-bottom: 2px solid rgba(0, 0, 255, 0.589);
    }

    #sobre .texto p {
        margin: 12px 0px;
    }

    /* Estilização dos produtos */

    #produtos .container {
        display: grid;
        grid-template-columns: 100%;
        row-gap: 36px;
        margin: 18px auto;
        width: 100%;
        text-align: start;
    }

    #produtos .container article {
        text-align: center;
    }

    #produtos h2 {
        width: 80vw;
        margin: 0 auto;
        font-style: italic;
        padding: 6px 0px;
        color: rgba(0, 0, 255, 0.589);
        border-bottom: 2px solid rgba(0, 0, 255, 0.589);
    }

    #produtos .container article h3  {
        font-weight: 800;
        margin: 8px 0px;
    }

    #produtos .container article p {
        font-style: italic;
        color: #333333b9;
        margin: 8px 0px;
    }

    #produtos .container article button {
        width: 100%;
        height: 40px;
        border: none;
        border-radius: 5px;
        background-color: rgba(0, 0, 255, 0.589);
        color: #fff;
    }

    #produtos .container article button:active {
        background-color: rgba(0, 0, 255, 0.411);
    }
}

@media screen and (min-width: 481px) and (max-width:767px) {
    
    /* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    max-width: 80vw;
    margin: 0px auto;
}

    /* Header style */

header {
    background-color: rgba(0, 0, 255, 0.589);
    margin-bottom: 24px;
}

header .container {
    display: grid;
    grid-template-columns: 90% 5%;
    column-gap: 5%;
    padding: 2% 0px;
}

header .container h1 {
    font-family: sans-serif;
    font-style: italic;
    color: #fff;
    border-bottom: 1px solid #fff;
}

header .container .menu-hamburguer {
    width: 30px;
    position: relative;
}

header .container .menu-hamburguer span {
    width: 100%;
    height: 2px;
    display: block;
    background-color: #fff;
    margin: 6px;
}

header .container ul {
    display: none;
    padding-top: 12px;
}

header .container li {
    display: inline;
    margin-right: 18px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
}

header .container li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
}

    /* Sobre style */

    #sobre .container {
        display: grid;
        grid-template-columns: 100%;
        row-gap: 12px;
    }

    #sobre .container img {
        height: 100%;
        width: 100%;
    }

    #sobre .texto h2 {
        font-style: italic;
        padding: 6px 0px;
        color: rgba(0, 0, 255, 0.589);
        border-bottom: 2px solid rgba(0, 0, 255, 0.589);
    }

    #sobre .texto p {
        margin: 12px 0px;
    }

    /* Estilização dos produtos */

    #produtos .container {
        display: grid;
        grid-template-columns: 48% 48%;
        column-gap: 10%;
        row-gap: 36px;
        margin: 18px auto;
        text-align: start;
    }

    #produtos h2 {
        width: 80vw;
        margin: 0 auto;
        font-style: italic;
        padding: 6px 0px;
        color: rgba(0, 0, 255, 0.589);
        border-bottom: 2px solid rgba(0, 0, 255, 0.589);
    }

    #produtos .container article {
        text-align: center;
    }

    #produtos .container article img {
        height: 150px;
    }

    #produtos .container article h3  {
        font-weight: 800;
        margin: 8px 0px;
    }

    #produtos .container article p {
        font-style: italic;
        color: #333333b9;
        margin: 8px 0px;
    }

    #produtos .container article button {
        width: 100%;
        height: 40px;
        border: none;
        border-radius: 5px;
        background-color: rgba(0, 0, 255, 0.589);
        color: #fff;
    }

    #produtos .container article button:active {
        background-color: rgba(0, 0, 255, 0.411);
    }
}

@media screen and (min-width: 768px) and (max-width:991px) {
    /* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    max-width: 80vw;
    margin: 0px auto;
}

    /* Header style */

header {
    background-color: rgba(0, 0, 255, 0.589);
    margin-bottom: 24px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0px;
}

header .container h1 {
    font-family: sans-serif;
    font-style: italic;
    color: #fff;
}

header .container .menu-hamburguer {
    width: 30px;
    position: relative;
    display: none;
}

header .container .menu-hamburguer span {
    width: 100%;
    height: 2px;
    display: block;
    background-color: #fff;
    margin: 6px;
}

header .container ul {
}

header .container li {
    display: inline;
    margin-right: 18px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
}

header .container li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
}

    /* Sobre style */

    #sobre .container {
        display: flex;
        justify-content: space-between;
    }

    #sobre .container img {
        height: 50%;
        width: 50%;
        padding: 12px;
    }

    #sobre .texto h2 {
        font-style: italic;
        padding: 6px 0px;
        color: rgba(0, 0, 255, 0.589);
        border-bottom: 2px solid rgba(0, 0, 255, 0.589);
    }

    #sobre .texto p {
        margin: 12px 0px;
    }

    /* Estilização dos produtos */

    #produtos .container {
        display: grid;
        grid-template-columns: 49% 49%;
        column-gap: 1%;
        row-gap: 36px;
        margin: 18px auto;
        text-align: start;
    }

    #produtos h2 {
        width: 80vw;
        margin: 0 auto;
        font-style: italic;
        padding: 6px 0px;
        color: rgba(0, 0, 255, 0.589);
        border-bottom: 2px solid rgba(0, 0, 255, 0.589);
    }

    #produtos .container article {
        text-align: center;
    }

    #produtos .container article img {
        height: 150px;
    }

    #produtos .container article h3  {
        font-weight: 800;
        margin: 8px 0px;
    }

    #produtos .container article p {
        font-style: italic;
        color: #333333b9;
        margin: 8px 0px;
    }

    #produtos .container article button {
        width: 100%;
        height: 40px;
        border: none;
        border-radius: 5px;
        background-color: rgba(0, 0, 255, 0.589);
        color: #fff;
    }

    #produtos .container article button:active {
        background-color: rgba(0, 0, 255, 0.411);
    }
}

@media screen and (min-width: 992px) and (max-width:1199px) {
    /* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    max-width: 80vw;
    margin: 0px auto;
}

    /* Header style */

header {
    background-color: rgba(0, 0, 255, 0.589);
    margin-bottom: 24px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0px;
}

header .container h1 {
    font-family: sans-serif;
    font-style: italic;
    color: #fff;
}

header .container .menu-hamburguer {
    width: 30px;
    position: relative;
    display: none;
}

header .container .menu-hamburguer span {
    width: 100%;
    height: 2px;
    display: block;
    background-color: #fff;
    margin: 6px;
}

header .container ul {
}

header .container li {
    display: inline;
    margin-right: 18px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
}

header .container li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
}

    /* Sobre style */

    #sobre .container {
        display: flex;
        justify-content: space-between;
    }

    #sobre .container img {
        height: 50%;
        width: 50%;
        padding: 12px;
    }

    #sobre .texto h2 {
        font-style: italic;
        padding: 6px 0px;
        color: rgba(0, 0, 255, 0.589);
        border-bottom: 2px solid rgba(0, 0, 255, 0.589);
    }

    #sobre .texto p {
        margin: 12px 0px;
    }

    /* Estilização dos produtos */

    #produtos .container {
        display: grid;
        grid-template-columns: 24% 24% 24% 24%;
        column-gap: 1%;
        row-gap: 36px;
        margin: 18px auto;
        text-align: start;
    }

    #produtos h2 {
        width: 80vw;
        margin: 0 auto;
        font-style: italic;
        padding: 6px 0px;
        color: rgba(0, 0, 255, 0.589);
        border-bottom: 2px solid rgba(0, 0, 255, 0.589);
    }

    #produtos .container article {
        text-align: center;
    }

    #produtos .container article img {
        height: 150px;
    }

    #produtos .container article h3  {
        font-weight: 800;
        margin: 8px 0px;
    }

    #produtos .container article p {
        font-style: italic;
        color: #333333b9;
        margin: 8px 0px;
    }

    #produtos .container article button {
        width: 100%;
        height: 40px;
        border: none;
        border-radius: 5px;
        background-color: rgba(0, 0, 255, 0.589);
        color: #fff;
    }

    #produtos .container article button:active {
        background-color: rgba(0, 0, 255, 0.411);
    }
}

@media screen and (min-width: 1200px) and (max-width:1919px) {
    /* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    max-width: 80vw;
    margin: 0px auto;
}

    /* Header style */

header {
    background-color: rgba(0, 0, 255, 0.589);
    margin-bottom: 24px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0px;
}

header .container h1 {
    font-family: sans-serif;
    font-style: italic;
    color: #fff;
}

header .container .menu-hamburguer {
    width: 30px;
    position: relative;
    display: none;
}

header .container .menu-hamburguer span {
    width: 100%;
    height: 2px;
    display: block;
    background-color: #fff;
    margin: 6px;
}

header .container ul {
}

header .container li {
    display: inline;
    margin-right: 18px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
}

header .container li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
}

    /* Sobre style */

    #sobre .container {
        display: flex;
        justify-content: space-between;
    }

    #sobre .container img {
        height: 50%;
        width: 50%;
        padding: 12px;
    }

    #sobre .texto h2 {
        font-style: italic;
        padding: 6px 0px;
        color: rgba(0, 0, 255, 0.589);
        border-bottom: 2px solid rgba(0, 0, 255, 0.589);
    }

    #sobre .texto p {
        margin: 12px 0px;
    }

    /* Estilização dos produtos */

    #produtos .container {
        display: grid;
        grid-template-columns: 24% 24% 24% 24%;
        column-gap: 1%;
        row-gap: 36px;
        margin: 18px auto;
        text-align: start;
    }

    #produtos h2 {
        width: 80vw;
        margin: 0 auto;
        font-style: italic;
        padding: 6px 0px;
        color: rgba(0, 0, 255, 0.589);
        border-bottom: 2px solid rgba(0, 0, 255, 0.589);
    }

    #produtos .container article {
        text-align: center;
    }

    #produtos .container article img {
        height: 150px;
    }

    #produtos .container article h3  {
        font-weight: 800;
        margin: 8px 0px;
    }

    #produtos .container article p {
        font-style: italic;
        color: #333333b9;
        margin: 8px 0px;
    }

    #produtos .container article button {
        width: 100%;
        height: 40px;
        border: none;
        border-radius: 5px;
        background-color: rgba(0, 0, 255, 0.589);
        color: #fff;
    }

    #produtos .container article button:active {
        background-color: rgba(0, 0, 255, 0.411);
    }
}

@media screen and (min-width: 1920px) {
    /* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    max-width: 80vw;
    margin: 0px auto;
}

    /* Header style */

header {
    background-color: rgba(0, 0, 255, 0.589);
    margin-bottom: 24px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0px;
}

header .container h1 {
    font-family: sans-serif;
    font-style: italic;
    color: #fff;
}

header .container .menu-hamburguer {
    width: 30px;
    position: relative;
    display: none;
}

header .container .menu-hamburguer span {
    width: 100%;
    height: 2px;
    display: block;
    background-color: #fff;
    margin: 6px;
}

header .container ul {
}

header .container li {
    display: inline;
    margin-right: 18px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
}

header .container li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
}

    /* Sobre style */

    #sobre .container {
        display: flex;
        justify-content: space-between;
    }

    #sobre .container img {
        height: 50%;
        width: 50%;
        padding: 12px;
    }

    #sobre .texto h2 {
        font-style: italic;
        padding: 6px 0px;
        color: rgba(0, 0, 255, 0.589);
        border-bottom: 2px solid rgba(0, 0, 255, 0.589);
    }

    #sobre .texto p {
        margin: 12px 0px;
    }

    /* Estilização dos produtos */

    #produtos .container {
        display: grid;
        grid-template-columns: 24% 24% 24% 24%;
        column-gap: 1%;
        row-gap: 36px;
        margin: 18px auto;
        text-align: start;
    }

    #produtos h2 {
        width: 80vw;
        margin: 0 auto;
        font-style: italic;
        padding: 6px 0px;
        color: rgba(0, 0, 255, 0.589);
        border-bottom: 2px solid rgba(0, 0, 255, 0.589);
    }

    #produtos .container article {
        text-align: center;
    }

    #produtos .container article img {
        height: 150px;
    }

    #produtos .container article h3  {
        font-weight: 800;
        margin: 8px 0px;
    }

    #produtos .container article p {
        font-style: italic;
        color: #333333b9;
        margin: 8px 0px;
    }

    #produtos .container article button {
        width: 100%;
        height: 40px;
        border: none;
        border-radius: 5px;
        background-color: rgba(0, 0, 255, 0.589);
        color: #fff;
    }

    #produtos .container article button:active {
        background-color: rgba(0, 0, 255, 0.411);
    }
}